html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  #top {
    text-align: center;
    margin: 0 auto;
  }
  
  #top h1 {
    font-size: 2em;
  }
  
  #content {
    margin-top: 100px;
    font-size: 2em;
    text-align: center;
  }

#userForm {
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 10px;
    width: 400px;
    margin: 0 auto;            
  }

  #userForm input,
#userForm select {
  width: 50%;            
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
    justify-content: center;
  }
  /* 单个卡片样式 */
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 200px;
    text-align: center;
    background-color: #f9f9f9;
  }
  .card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  .card p {
    margin: 8px 0;
  }
  
  .error {
    color: red;
    font-size: 0.8em;
    margin-left: 5px;
  }